<footer class="footer">
  <section>
    <a href="/about-us" >About us</a>
    <a href="/careers" >Careers</a>
    <a href="/terms-and-conditions"  target='_blank'>Terms & Conditions</a>
    <a href="/privacy-policy"  target='_blank'>Privacy Policy</a>
  </section>
  <section>
    <a href="https://twitter.com/thirdspacetweet" target='_blank'>Follow us on Twitter</a>
    <a href="https://www.facebook.com/thirdspacelearningmaths" target='_blank'>Like us on Facebook</a>
    <a href="https://www.youtube.com/c/ThirdSpaceLearningTuition" target='_blank'>Watch our videos</a>
    <a href="https://www.linkedin.com/company/third-space-learning" target='_blank'>Connect on Linkedin</a>
  </section>
</footer>
